{% load static %}


<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>     
          <main role="main" class="container">
            <div class="jumbotron">

                <form id="form">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Title</label>
                      <input type="text" class="form-control" id="title" placeholder="Enter Title">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Description</label>
                      <input type="text" class="form-control" id="description" placeholder="Description">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>


              <h3>Todo:</h3>
              <ul class="list-group" id="list-wrapper">
                
              </ul>       
            </div>
          </main>
          <!-- Modal -->
      
    </body>
</html>
<script type="text/javascript">
		function getCookie(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = cookies[i].trim();
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		var csrftoken = getCookie('csrftoken');

		var activeItem = null
    var list_snapshot = []
    

    buildList()

    function buildList(){
      var wrapper = document.getElementById('list-wrapper')
      wrapper.innerHTML = ''
      var url = 'https://flutter-restful-api.herokuapp.com/api/v1/task-list/'
      fetch(url, {
	mode: 'cors',
	headers: {
	'Access-Control-Allow-Origin':'*'
	})
      .then((resp) => resp.json())
      .then(function (data) {
        console.log("Data", data)
        var list =data
        for (var i in list){
          var item = ` 
          <li id="data-row-$${list[i].id}" class="list-group-item title">
          <button class="btn btn-danger btn-sm btn delete" >Delete</button>
          <button class="btn btn-success btn-sm btn edit">Update</button>
          <h4><b>${list[i].title}</b></h4>
 
          <b>- ${list[i].description} 

          
          </li>
          `
          wrapper.innerHTML += item
        }
				for (var i in list){
					var editBtn = document.getElementsByClassName('edit')[i]
					var deleteBtn = document.getElementsByClassName('delete')[i]
					var title = document.getElementsByClassName('title')[i]


					editBtn.addEventListener('click', (function(item){
						return function(){
							editItem(item)
						}
					})(list[i]))


					deleteBtn.addEventListener('click', (function(item){
						return function(){
							var answer = confirm("Do you want to delete this Task?")
              if(answer == 1){
                deleteItem(item)
              }
						}
					})(list[i]))
				}
      })
    }
   


		var form = document.getElementById('form')
		form.addEventListener('submit', function(e){
			e.preventDefault()
			console.log('Form submitted')

			var url = 'https://flutter-restful-api.herokuapp.com/api/v1/task-create/'
      if (activeItem != null){
				var url = `https://flutter-restful-api.herokuapp.com/api/v1/task-update/${activeItem.id}/`
				activeItem = null
			}

      var title = document.getElementById('title').value
      var description = document.getElementById('description').value
			fetch(url, {
				mode: 'no-cors',
				method:'POST',
				headers:{
					'Content-type':'application/json',
					'X-CSRFToken':csrftoken,
				},
				body:JSON.stringify({'title':title, 'description':description})
			}
			).then(function(response){
				buildList()
				document.getElementById('form').reset()
      })
		})

    function editItem(item){
			console.log('Item clicked:', item)
			activeItem = item
			document.getElementById('title').value = activeItem.title
      document.getElementById('description').value = activeItem.description
		}
    function deleteItem(item){
			console.log('Delete clicked')
			fetch(`https://flutter-restful-api.herokuapp.com/api/v1/task-delete/${item.id}/`, {
				mode:'no-cors',
				method:'DELETE', 
				headers:{
					'Content-type':'application/json',
					'X-CSRFToken':csrftoken,
				}
			}).then((response) => {
				buildList()
			})
		}

 </script>
